*
{
    margin: 0px;
    padding: 0px;
}

body
{
    color: white;
    background-color: black;
    height: 100vh;
}

.interface>.grid, .interface>.tools
{
    border: solid 1px cornflowerblue;
}

.interface
{
    width: 950px;
}

.interface>.grid
{
    width: 800px;
    height: 800px;
}


/*FLEXBOX*/

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header
{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

section
{
    flex: 8;

    display: flex;
    justify-content: center;
    align-items: center;
}

.interface
{
    display: flex;
}

.interface>.grid
{
    flex-shrink: 0;
}

.interface>.tools
{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tools>.hex-select
{
    flex: 6;

    display: flex;
    align-items: center;
}

.tools>.toggle, .tools>.reset
{
    flex: 1;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

}


