*
{
    margin: 0px;
    padding: 0px;
}

body
{
    color: white;
    background-color: black;
    height: 100vh;
}

.grid, .tools
{
    border: solid 1px cornflowerblue;
}

.tools
{
    border-left: 0px;
}

.interface
{
    width: 950px;
}

.interface>.grid
{
    width: 800px;
    height: 800px;
}

#gridSlider
{
    direction: rtl;
    -webkit-appearance: none;
    appearance: none;
}


.swatchBox
{
    -webkit-appearance: none;
  appearance: none;
    width: 37px;
    height: 37px;
    border-radius: 50%;
}

.swatchBox:checked
{
    border: solid 3px rgb(227, 227, 227);
}

.swatchBox#default
{
    background-color: white;
}
.swatchBox#grey
{
    background-color: grey;
}
.swatchBox#red
{
    background-color: red;
}
.swatchBox#orange
{
    background-color: orange;
}
.swatchBox#yellow
{
    background-color: yellow;
}
.swatchBox#green
{
    background-color: green;
}
.swatchBox#blue
{
    background-color: blue;
}
.swatchBox#purple
{
    background-color: purple;
}

/*---------------------COLOR MODE: LIGHT-----------------------*/

body.light
{
    color:black;
    background-color: white;
}

.grid.light, .tools.light
{
    border: solid 1px black;
}

.swatchBox#default.light
{
    background-color: black;
}
.swatchBox#grey.light
{
    background-color: grey;
}
.swatchBox#red.light
{
    background-color: rosybrown;
}
.swatchBox#orange.light
{
    background-color: teal;
}
.swatchBox#yellow.light
{
    background-color: tan;
}
.swatchBox#green.light
{
    background-color: goldenrod;
}
.swatchBox#blue.light
{
    background-color: blueviolet;
}
.swatchBox#purple.light
{
    background-color: brown;
}



/*FLEXBOX*/

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header
{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

section
{
    flex: 8;

    display: flex;
    justify-content: center;
    align-items: center;
}

.interface
{
    display: flex;
}

.interface>.grid
{
    flex-shrink: 0;

    display: flex;
    flex-wrap: wrap;
}

.interface>.tools
{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.color-picker
{
    flex: 6;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.tools>.toggle, .tools>.reset
{
    flex: 1;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.tools>.slideContainer
{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.square
{
    flex-shrink: 0;
}




